*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.wrapper {
  padding: 82px 24px 99px;
  display: grid;
  place-content: center;
  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-position: top, bottom;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  max-width: 700px;
  margin: 0 auto;
}

body {
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.43px;
  margin-bottom: 17px;
  text-align: center;
  color: var(--very-dark-magenta);
}

p {
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.63px;
  color: var(--dark-grayish-magenta);
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.rated {
  font-size: 17px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.white {
  color: var(--white);
  font-size: 17px;
  letter-spacing: -0.3px;
  line-height: 22px;
}

.soft-pink {
  color: var(--soft-pink);
  font-weight: 400;
  font-size: 17px;
  line-height: auto;
  letter-spacing: 0;
}

.name {
  font-weight: 700;
}

#reviews {
  margin-top: 39px;
}

.review-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review {
  background-color: var(--light-grayish-magenta);
  padding: 16px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#testimonials {
  display: grid;
  gap: 16px;
  margin-top: 49px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 23px;
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
  padding: 40px 32px 35px;
}

.details-row {
  display: flex;
  gap: 23px;
}

.card-2 {
  margin-top: 16px;
}

.card-3 {
  margin-top: 32px;
}

@media (min-width: 1100px) {
  .wrapper {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-position: top, bottom;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    padding: 118px 40px 100px;
    max-width: 1600px;
    margin: 0 auto;
  }

  #testimonials {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-top: 70px;
  }

  .top-wrapper {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 125px;
  }

  header {
    max-width: 445px;
  }

  h1 {
    font-size: 56px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 16px;
    text-align: left;
  }

  p {
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.63px;
    color: var(--dark-grayish-magenta);
  }

  .center {
    text-align: left;
  }

  #reviews {
    margin-top: 27px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .review {
    flex-direction: row;
    gap: 32px;
    padding: 20px 32px;
    width: 445px;
  }

  .review-2 {
    margin-left: 48px;
  }

  .review-3 {
    margin-left: 96px;
  }
}
